/********** TAGS **********/

body {
  background-color: #283149;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-align: center;
}

/********** CLASSES **********/

/********** IDs **********/
