/********** TAGS **********/

body {
  background-color: azure;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.theme-dark {
  background-color: #283149;
  color: #dbedf3;
}

/* 
td {
  width: 25%;
} */

/********** CLASSES **********/
/* .btn {
  background-color: green;
  font-size: 125%;
  line-height: 100%;
  padding: 2px;
  width: 100%;
} */

/* .btn-cero {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
} */
/* 
.btn-container {
  grid-template-columns: auto auto auto auto;
  text-align: center;
  gap: 5px;
  padding-top: 5px;
  width: 25%;
} */

/* .btn-igual {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 6;
}

.btn-suma {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
} */

.calculator {
  background-color: midnightblue;
  font-size: x-large;
  margin: 5% auto;
  padding: 5px 5px 5px;
  width: 25%;
}

.display {
  padding: 5px;
}

/********** IDs **********/

#btn-grid {
  margin: auto;
  text-align: center;
  width: 100%;
}

#result {
  text-align: right;
}
