/********** TAGS **********/

body {
  background-color: #283149;
  color: #dbedf3;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

/********** CLASSES **********/
.btn {
  background-color: green;
  font-size: x-large;
  padding: 5px;
}

.btn-cero {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

.btn-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  gap: 5px;
  padding-top: 5px;
}

.btn-igual {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 6;
}

.btn-suma {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

.calculadora {
  background-color: midnightblue;
  font-size: x-large;
  margin: 5% auto;
  padding: 5px 5px 5px;
  width: 20%;
}

.display {
  padding: 10px;
  background-color: blueviolet;
}

.resultado {
  margin: auto;
}
/********** IDs **********/
